.Comofun{
  padding-top: 40px;
  padding-bottom: 112px;
}

.Usuario{
  font-family: 'Chewy', cursive;
  color: #1900FF;
  text-align: center;
  margin-bottom: 70px;
  align-items: center;
}



.Espacio{
  margin-bottom: 90px;
}

.Calenda{
  height: 155px;
  width: 190px;
  display: block;
  margin: auto;
  background-color: #FEE5FF;  
  color: black;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  font-weight: bold;
  border: #FEE5FF;
  border-bottom: 6px solid;
  border-bottom-color:  rgb(173, 114, 250);
}

.Calendario1{
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 0px;
  margin: auto;
}

.Peso1{
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 0px;
  margin: auto  
}